@{
    ViewBag.Title = "Change Password";
}
@section Navigation{
<ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Help", "Help", "Home")</li>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Create New User", "Register", "Account")</li>
        }
    </ul>
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>