@model IList<Rosterer.Frontend.Models.EventViewModel>

@foreach (var booking in Model)
{
    <div class="booking">
        <div class="venueName @booking.Venue.Id">@booking.Venue.Name
        @foreach (var staffMember in booking.Staff)
        {
            Html.RenderPartial("StaffMember", staffMember);
        }
        </div>
    </div>
}