@using Rosterer.Domain
@model Rosterer.Domain.CalendarWeek

<div class="week">
    @foreach (CalendarDay day in Model.Days)
    {
        <div title="click to add event" class="day @if (day.IsToday())
                        {
                            @:today
                        }
                    @if (!day.IsInCurrentMonth(Model.Monthnumber))
                    {
                        @:wrongmonth
                    }">
            <h3 title="@day.Date">@day.Name<a href="#" class="addevent" title="add new event">+</a></h3>
            <div class="dayContent"></div>
            <div class="dayofmonth">
                @day.Date.Day
            </div>
        </div>
    }
</div>