@using Rosterer.Domain.Entities
@using Rosterer.Frontend.Models
@model CalendarWeek

<div class="week" data-date="@Model.WeekNumber">
    @foreach (CalendarDay day in Model.Days)
    {
        <div id="@day.Date.Year-@day.Date.Month-@day.Date.Day" data-date="@day.Date" title="click to add event" class="addevent day @if (day.IsToday())
                                                                                                                           {
                                                                                                                               @:today
                                                                                                                           }
                    @if (!day.IsInCurrentMonth(Model.Monthnumber))
                    {
                        @:wrongmonth
                    }">
            <div class="dayContent">
                @{
                    if (day.Bookings != null)
                    {
                        Html.RenderPartial("~/Views/Shared/EventView.cshtml", day.Bookings);
                    }
                }
            </div>
            <div class="dayofmonth">
                @day.Date.Day
            </div>
        </div>
    }
</div>