@section Navigation{
    <ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("Help", "Help", "Home")</li>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Create New User", "Register", "Account")</li>
        }
    </ul>
}


<h2>Help</h2>
<h3>Frequently Asked Questions</h3>
<ul>
    <li><a href="#noAccount">I don't have an account</a></li>
    <li><a href="#bookingtLeave">How do I schedule time when I am not available to work?</a></li>
    <li><a href="#emailAddress">I haven't got my registration email</a></li>
</ul>
<hr/>
<h4><a name="noAccount"></a>I don't have an account</h4>
<p>You'll have to contact #Admin1 or #admin2 to have an account created for you. You'll receive a confirmation email when your account has been created succesfully. The email will contain a link that will take you to a page where you will be prompted to confirm your email address and set your password.</p>
<h4><a name="bookingLeave"></a>How do I schedule time when I am not available to work?</h4>
<p>In the top right hand corner of the main calendar page, you will see an option to book time when you are not available to work. Note that time can only be booked off like this a minimum of X weeks in advance. If you know you wil not be available to work within x weeks of todays date, you will have to notify #admin1 directly by phone or email</p>
<h4><a name="emailAddress"></a>I haven't got my registration email</h4>
<p>If you have been registered as a user of the Pukara Roster, but haven't received your confirmation email: TBC</p>